<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quark</title>
    <link
      rel="icon"
      href="photos/favicons/favicon-dark.ico"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="photos/favicons/favicon-96x96-dark.png"
      sizes="96x96"
      type="image/png"
    />
    <link
      rel="icon"
      href="photos/favicons/favicon-dark.svg"
      type="image/svg+xml"
    />
    <link
      rel="apple-touch-icon"
      href="photos/favicons/apple-touch-icon-dark.png"
    />
    <link rel="manifest" href="photos/favicons/site.webmanifest" />
    <link
      rel="icon"
      href="photos/favicons/web-app-manifest-192x192-dark.png"
      sizes="192x192"
      type="image/png"
    />
    <link
      rel="icon"
      href="photos/favicons/web-app-manifest-512x512-dark.png"
      sizes="512x512"
      type="image/png"
    />
    <link rel="stylesheet" href="../style.css" />
    <style>
      body::before {
        background: black url("../photos/BFSLDark.png") no-repeat center /
          contain;
      }
    </style>
    {{ page.head }}
  </head>
  <body>
    <div class="sidebar">
      <a href="/index.html">Home</a>
      <a href="/about.html">About</a>
      <a href="/projects.html">Projects</a>
      <a href="/projects/FunctionWarping" style="margin-left: 15%;">Function Warping</a>
      <a href="/ramblings.html">Ramblings</a>
    </div>
    {{ content }}
  </body>
</html>
